// --------------------------------------------------------------
//  LANDING
//---------------------------------------------------------------

.landing {
  padding: 0 25px 25px;
  overflow: hidden;

  @include breakpoint(sm) { 
    text-align: center;
  }
  
  &__subtitle {
    font-size: 12px;
    margin: 15% auto;

    @include breakpoint(sm) { 
      margin: 5% auto;
    }

    &.slideup {
      margin: 10% auto;
      transition: 0.5s;

      @include breakpoint(sm-height) { 
        margin: 8% auto;
      }
    }
  }

  &__subtitle2 { 
    opacity: 0;
    max-width: 75%;

    @include breakpoint(sm) {
      max-width: 100%;
    }
  }

  h1 {
    padding-top: 10%;
    max-width: 66%;

    @include breakpoint(sm-height) { 
      padding-top: 3%;
      max-width: 100%;
    }

    @include breakpoint(sm) { 
      padding-top: 3%;
      max-width: 100%;
    }
  }

  button {
    &.slideup {
      margin: 20px auto;
      transition: 0.5s;
    }
  }
}