// --------------------------------------------------------------
//   QUESTIONS
//---------------------------------------------------------------

.questions {
  padding: 0 25px 25px;
  @include breakpoint(sm) { text-align: center; }

  h1 {
    padding-top: 0;
    min-height: 85px;

    @include breakpoint(sm) { min-height: 140px; }
    @include breakpoint(sm-height) { min-height: 75px; }
  }

  button {
    opacity: 0;
    transform: scale(0.8);

    &.visible {
      opacity: 1;
      transform: scale(1);
      transition: 0.5s;
      outline: 0;
    }
  }

  &__number {
    font-weight: 300;
    font-size: 14px;
    margin-top: 15%;

    @include breakpoint(sm) { 
      margin-top: 5%;
      text-align: center;
    }

    @include breakpoint(sm-height) { margin-top: 8%; }
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    -webkit-tap-highlight-color: transparent;
  }

  &__item {
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
    flex: 1 0 21%;
    margin: 5px;
    min-height: 130px;
    outline: 0;

    &.no-name {
      min-height: 80px;
    }

    &:focus, &:active {
      outline: 0;
    }

    .item__circle {
      @include size(64px);
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: auto;
    }

    p { 
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
    }

    &.active {
      scale: 1.1;
      transition: 0.2s;

      p {
        font-size: 16px;
        font-family: "Open Sans Bold", sans-serif;
      }

      .item__circle {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: relative;

        &:after {
          @include size(10px);
          content: '';
          position: absolute;
          top: calc(50% - 5px);
          left: calc(50% - 5px);
          background-color: #000000;
          border-radius: 100%;
          mix-blend-mode: overlay;
          animation: ripple 500ms ease-out forwards;
          opacity: 0.8;
        }
      }
    }

    &.disabled {
      opacity: 0.6;
    }

    //FIRST QUESTION
    &.one {
      .item__circle { 
        box-shadow: none;
        border-radius: 0;

        &:after {
          display: none;
        }
      }

      &.active {
        p { color: $bluegreen; }
      }

      &:nth-of-type(1) {
        &.active .item__circle {
          background-image: url('~@/assets/img/home-icon-int-green.svg')!important;
        }
      }
  
      &:nth-of-type(2) {
        &.active .item__circle {
          background-image: url('~@/assets/img/home-icon-ext-green.svg')!important;
        }
      }
    }
  }
}