// --------------------------------------------------------------
//   ANIMATIONS
//---------------------------------------------------------------

//VUE TRANSITIONS
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.98);
  opacity: 0;
}

//OTHER

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity:0;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@keyframes lightBursts {
  10% {
      height: 0%;
      bottom: 80%;
  }
  35% {
      height: 20%;
      bottom: 80%;
  }
  0%, 90%, 100% {
      height: 0%;
      bottom: 100%;
  }
}

@-webkit-keyframes lightBursts {
  10% {
      height: 0%;
      bottom: 80%;
  }
  35% {
      height: 20%;
      bottom: 80%;
  }
  0%, 90%, 100% {
      height: 0%;
      bottom: 100%;
  }
}

@keyframes slideGridL {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 85%;
  }
}

@-webkit-keyframes slideGridL {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 85%;
  }
}

@keyframes slideGridR {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -85%;
  }
}

@-webkit-keyframes slideGridR {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -85%;
  }
}

@keyframes slideBackL {
  from {
    margin-left: 85%;
  }
  to {
    margin-left: 0;
  }
}


@keyframes slideBackR {
  from {
    margin-left: -85%;
  }
  to {
    margin-left: 0;
  }
}