// --------------------------------------------------------------
//   COLORS
//---------------------------------------------------------------

$darkpink: #B8446B;
$darkbrown: #585858;
$bluegreen: #9BDDCE;
$darkgray: #4A4A4A;