button {
  background-color: rgba(0,0,0,0.2);
  border: 0;
  border-radius: 40px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 50px auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
 
  &:focus, &:active, &::-moz-focus-inner {
    border: 0!important;
    outline: 0!important;
  }

  @include breakpoint(sm-height) { margin: 10px auto; }

  @include breakpoint(sm) {
    margin: 20px 35px;
    max-width: 330px;
  }

  &.white { color: #FFFFFF!important }

  .ripple {
    @include size(50px);
    top: 50%;
    left: 50%;
    background-color: #000000;
    opacity: 0;
    position: absolute;
    border-radius: 100%;
    mix-blend-mode: overlay;
    animation: ripple 500ms ease-out forwards;
  }
}