.popup {
  @include absolute(0, 0, auto, 0);
  background-color: #212E84;
  z-index: 50;
  display: flex;
  align-items: center;
  margin-top: -100px;

  &.slideDown {
    margin-top: 0;
    transition: 0.5s;
  }

  &.hide {
    transition: 0.5s;
    margin-top: -100px;
    opacity: 0;
  }
  
  p {
    color: white;
    font-size: 12px;
    line-height: 18px;
    width: calc(100% - 50px);
    padding: 25px;
    margin: 0;
  }

  svg {
    margin-right: 25px;
    cursor: pointer;
    opacity: 0.6;
  }
}